<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>

<form action="" method="POST" class="">
    <h3>اطلاعات کاربری خود را وارد کنید</h3>
        <p style="color: red">{{ username }}  {{ errorMessage }}</p>
        <label class="">نام کاربری</label>
        <input type="text" id="username" name="username" placeholder="نام کابری خود را وارد کنید" class="">
         </br>
         </br>
        <label class="">رمز عبور</label>
        <input type="password" id="password" name="password" placeholder="رمز عبور خود را وارد کنید" class="">
         </br>
         </br>
        <input type="submit" value="ورود" class="">

</form>

</body>
</html>